* {
    padding: 0;
    margin: 0;
    word-spacing: 1.3em;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

/* Links for header */

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color:black;
}
a:hover {
    text-decoration: underline;
}
/* links for the footer */
.footer a:link {
    color: #5F6368;
}
.footer a:visited {
    color:#5F6368;
}
/* header  */

.nav {
    position: fixed;
    right: 2%;
    top: 3%;
}
#Login {
    font-weight: bold;
    word-spacing: 0;
    border: solid 1px #4387fd;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2px;
    color: white;
    background-color :#4387fd;
}
/* search bar */
.logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 15vw;
    width: 600px;
    height: 80px;
    padding-bottom: 10px;
}

input[type=search] {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 583px;
    height: 44px;
    border: solid 1px #dfe1e5;
    border-radius: 24px;
    word-spacing: 0px;
}
/* buttons */
#lucky_btn{
    word-spacing: 0;
    font-size: 14px;
    border: solid 0px black;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 14px;
    padding-bottom:10px;
    padding-right: 14px;
    margin-left: 10px;
    background-color: #f2f2f2;
    color: #5F6368;
}
#google_search_btn {
    word-spacing: 0;
    font-size: 14px;
    border: solid 0px black;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 14px;
    padding-bottom:10px;
    padding-right: 14px;
    background-color: #f2f2f2;
    color:#5F6368;
}
.button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
/* Footer */
.footer {
    border-top: solid .5px #e4e0e0;
    background-color: #f2f2f2;
    bottom: 0;
    position: fixed;
    width: 100%;
    word-spacing: 0;
    padding-top: 3%;
}

#left_side {
    word-spacing: 1.3em;
    position: fixed;
    bottom: 2%;
    left: 2%;
}
#right_side {
    position: fixed;
    word-spacing: 1.3em;
    right: 2%;
    bottom: 2%;
    display: inline;
}
#how_search_works {
    word-spacing: 0px;
}