p {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(64, 64, 64);
}

.left {
    float:left;

}

.right {
    position: fixed;    
    float: right;
    right: 5px;
}
footer {
    position: fixed;
    word-spacing: 1.5em;
    top: 93%;
    left: 2%;
    background-color: lightgray;
    width: 100%;
    padding-bottom: 100%;
}
#id_span{
    position: fixed;
    word-spacing: 0;
    top: 95%;
    left: 12%;
    background-color: lightgray;
}

#gray {
    background-color: gray;
    width:100%;
}
fourm {
    position: fixed;
    top: 45%;
    left: 29%;
    
}

img {
    width: 375px;
    height: 225px;
    position: fixed;
    top: 17%;
    left: 37%;
}
#google_box {
    position: fixed;    
    top: 50%;
    left: 40%;
    border: solid 0 black;
    padding: 10px;
    background-color: rgba(233, 233, 233, 1);
    padding-left:15px;
    padding-right:15px;
    border-radius: 5px;

}

#lucky {
    position: fixed;    
    top: 50%;
    left: 49%;
    border: solid 0 black;
    padding: 10px;
    background-color: rgba(233, 233, 233, 1);
    padding-left:15px;
    padding-right:15px;
    border-radius: 5px;
}